# Windows files should use crlf line endings
# https://help.github.com/articles/dealing-with-line-endings/
*.bat text eol=crlf
*.java linguist-detectable=false
*.ruby linguist-detectable=false
*.starlark linguist-detectable=false
*.css linguist-detectable=false
*.objective-c linguist-detectable=false